@base-color1 : #313131;
@base-color2 : #88a1cd;


.header{
	height: 80px;
	width:100%;
	
	.main{
		width: 1210px;
		height: 100%;
		margin:auto;
	}
	.logo{
		float: left;
		height: 100%;
		line-height: 80px;
		img{
			vertical-align: middle;
		}
		.logo1{
			width: 51px;
			height: 45px;
		}
		.logo2{
			width: 146px;
			height: 36px;
		}
	}
	.navbar{
		float: left;
		margin-left: 45px;
		ul{
			li{
				float: left;
				a{
					display: block;
					width: 79px;
					height: 100%; 
					line-height: 80px;
					font-size: 21px;
					
					text-align: center;
					transition: all 0.2s linear;
				}
				.active{
					background: @base-color2;
					color:#fff;
					box-shadow: 0px 1px 5px 0px rgba(170, 170, 170, 0.75);
				}
			}
		}
	}
	.searchbox{
		width: 423px;
		height: 39px;
		float: right;
		margin-right: 50px;
		margin-top: 21px;
		background-color: #434343;
		border-radius: 2px;
		position: relative;
		form{
			height: 100%;
		}
		input{
			float: left;
			display: block;	
			background:none;
			height: 100%;
			width:300px;
			padding-left: 16px;
			color: #fff;
			font-size: 17px;
			outline: none;
			border:none;
		}
		button{
			position: absolute;
			top:0;
			right: 0px;
			height: 100%;
			width: 60px;
			opacity: 0;
		}
		.icon{
			float: right;
			margin-top: 8px;
			margin-right: 20px;
		}
	}
}

.status1{
	background-color: @base-color1;
	color:#fff;
	a{
		color:#fff;
		
	}
}

.status2{
	background-color: #fff;
	color:#333;
	a{
		color:#333;

	}
}